@import "../../index";

.nav {
  width: 100%;
  overflow: hidden;
  z-index: 100;
  // box-shadow: 0px 0.241175px 4.41175px rgba(34, 34, 34, 0.25);
}

.holding_div {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

img {
  width: 100%;
  object-fit: cover;
}
.logos {
  display: flex;
  align-items: center;
}
button {
  background-color: white;
  border: none;
}

.menu_holder {
  width: 95%;
  display: flex;
  justify-content: flex-end;
}
.menu_items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.list_menu_items_holder {
  display: none;
}

.list_menu_items {
}

@media only screen and (min-width: 996px) {
  #hamburger {
    display: none;
  }

  .menu_holder {
    display: none;
  }

  .list_menu_items {
    display: flex;
    align-items: center;
  }

  .list_menu_items_holder {
    display: flex;
    align-items: center;
  }

  .list_menu_item {
    box-sizing: border-box;
    padding: 0 1.5rem;
  }

  .flex {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .flex img {
    width: 25%;
    object-fit: cover;
  }
}
