.footer {
  width: 100%;
  background-color: #08372f;
  color: white;
}

.footer_holder {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
}

.flexify {
  padding: 0.5rem 0;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: -0.004em;
}

.grid_layout {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.7rem;
}

.footer_form {
  width: 100%;
  position: relative;
}

.footer_form input {
  width: 100%;
  padding: 1rem 0;
}

.footer_form label {
  position: absolute;
  left: 5%;
  bottom: 30%;
}

.footer_btn {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
}

.last_footer_child {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}

.last_footer_child img {
  width: 30%;
}

.flexMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexMe img {
  width: 30%;
  object-fit: cover;
}

.flexMe2 {
  display: flex;
  align-items: center;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 33px;
  line-height: 42px;
  letter-spacing: -0.004em;
}

.flexMe2 img {
  width: 5%;
  object-fit: cover;
}

.flexMe3 {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.flexMe3 img {
  width: 3%;
  object-fit: cover;
}

.centered {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 996px) {
  .footer_holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .grid_layout {
    display: flex;
  }
}
